<div class="container-home">
  <app-card
    gameCover="../../../assets/ea-fc-cover.jpg"
    gameName="EA SPORTS FC 24"
    gamePrice="R$ 350,00"
    [playWithEAPlay]="false"
  ></app-card>

  <app-card
    gameCover="../../../assets/bf-2042-cover.jpg"
    gameName="Battlefield 2042"
    gamePrice="R$ 250,00"
    [playWithEAPlay]="true"
  ></app-card>

  <app-card
    gameCover="../../../assets/lost-in-random-cover.jpg"
    gameName="Lost in Random"
    gamePrice="R$ 150,00"
    [playWithEAPlay]="true"
  ></app-card>

  <app-card
    gameCover="../../../assets/nfl-cover.jpg"
    gameName="Madden NFL 24"
    gamePrice="R$ 360,00"
    [playWithEAPlay]="false"
  ></app-card>

  <app-card
    gameCover="../../../assets/nfs-unbound-cover.jpg"
    gameName="Need for Speed Unbound"
    gamePrice="R$ 300,00"
    [playWithEAPlay]="true"
  ></app-card>

  <app-card
    gameCover="../../../assets/wrc-cover.jpeg"
    gameName="WRC"
    gamePrice="R$ 260,00"
    [playWithEAPlay]="false"
  ></app-card>
</div>
