<div class="container-menu-bar">
  <div class="container-menu-bar-logo">
    <img
      src="../../../assets/ea-logo2.png"
      alt="teste"
    >
  </div>
  <div class="container-menu-bar-item">
    <ul>
      <li><a href="https://www.linkedin.com/in/marco-aalima/" target="_blank">FALE COMIGO</a></li>
      <li><a href="https://www.ea.com/pt-br/games/library/pc-download" target="_blank">ACESSE A LOJA VIZINHA</a></li>
      <li><a href="https://github.com/marco052" target="_blank">OUTROS PROJETOS QUE JÁ FIZ</a></li>
    </ul>
  </div>
</div>
